pandas
ipykernel
pydantic
langchain
python-dotenv
langchain_community
pypdf
beautifulsoup4
lxml
html5lib
bs4
arxiv==1.4.8
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
google-generativeai
langchain-google-genai
chromadb
langchain-community
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma